# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React bug?
# https://stackoverflow.com/questions/53527763/create-react-app-typescript-auto-generating-react-app-env-d-ts-in-src-director
/src/react-app-env.d.ts
